<?xml version="1.0"?>
<!--
/**
 * @category   Knm
 * @package    Knm_Orderprocessing
 * @author     ModuleCreator
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <Knm_Orderprocessing>
            <version>0.1.1</version>
        </Knm_Orderprocessing>
    </modules>
    <frontend>
        <routers>
            <orderprocessing>
                <use>standard</use>
                <args>
                    <module>Knm_Orderprocessing</module>
                    <frontName>orderprocessing</frontName>
                </args>
            </orderprocessing>
        </routers>
        <layout>
            <updates>
                <orderprocessing>
                    <file>orderprocessing.xml</file>
                </orderprocessing>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <orderprocessing>
                <use>admin</use>
                <args>
                    <module>Knm_Orderprocessing</module>
                    <frontName>orderprocessing</frontName>
                </args>
            </orderprocessing>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Knm_Orderprocessing>
                            <title>Orderprocessing Module</title>
                            <sort_order>10</sort_order>
                        </Knm_Orderprocessing>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <orderprocessing>
                    <file>orderprocessing.xml</file>
                </orderprocessing>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <orderprocessing>
                <class>Knm_Orderprocessing_Model</class>
                <resourceModel>orderprocessing_mysql4</resourceModel>
            </orderprocessing>
            <orderprocessing_mysql4>
                <class>Knm_Orderprocessing_Model_Mysql4</class>
                <entities>
                    <message>
                        <table>knm_message</table>
                    </message>
                    <item>
                        <table>knm_message_item</table>
                    </item>
                </entities>
            </orderprocessing_mysql4>
        </models>
        <resources>
            <knm_orderprocessing_setup>
                <setup>
                    <module>Knm_Orderprocessing</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </knm_orderprocessing_setup>
            <orderprocessing_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </orderprocessing_write>
            <orderprocessing_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </orderprocessing_read>
            <knm_sales_setup>
                <setup>
                    <module>Knm_Orderprocessing</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
            </knm_sales_setup>
        </resources>
        <blocks>
            <orderprocessing>
                <class>Knm_Orderprocessing_Block</class>
            </orderprocessing>
        </blocks>
        <helpers>
            <orderprocessing>
                <class>Knm_Orderprocessing_Helper</class>
            </orderprocessing>
        </helpers>
    </global>

    <default>
        <knm_orderprocessing>
            <orderprocessing_local_file_storage>
                <files_new>new</files_new>
                <files_processed>processed</files_processed>
            </orderprocessing_local_file_storage>
            <orderprocessing_logging>
                <notice_log_prefix>#### ORDERPROCESSING NOTICE</notice_log_prefix>
                <warning_log_prefix>#### ORDERPROCESSING WARNING</warning_log_prefix>
                <error_log_prefix>#### ORDERPROCESSING ERROR</error_log_prefix>
            </orderprocessing_logging>
        </knm_orderprocessing>
    </default>

    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <knm_orderprocessing>
                                            <title>Store Hello World Module Section</title>
                                        </knm_orderprocessing>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <!--
        1.  export f_partner_id to order,
            attribute created in sql setup: mysql4-upgrade-0.1.0-0.1.1.php
    -->
    <global>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <module>
                        <type>singleton</type>
                        <class>Knm_Orderprocessing_Model_Observer</class>
                        <method>addProductAttributesToItem</method>
                    </module>
                </observers>
            </checkout_cart_product_add_after>
        </events>
        <fieldsets>
            <sales_convert_quote_item>
                <f_partner_id>
                    <to_order_item>*</to_order_item>
                </f_partner_id>
            </sales_convert_quote_item>
        </fieldsets>
    </global>
</config>