<?xml version="1.0"?>
<!-- 
/**
 * @category   Knm
 * @package    Knm_Orderprocessing
 * @author     ModuleCreator
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <Knm_Orderprocessing>
            <version>0.1.0</version>
        </Knm_Orderprocessing>
    </modules>
    <frontend>
        <routers>
            <orderprocessing>
                <use>standard</use>
                <args>
                    <module>Knm_Orderprocessing</module>
                    <frontName>orderprocessing</frontName>
                </args>
            </orderprocessing>
        </routers>
        <layout>
            <updates>
                <orderprocessing>
                    <file>orderprocessing.xml</file>
                </orderprocessing>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<orderprocessing>
				<use>admin</use>
				<args>
					<module>Knm_Orderprocessing</module>
					<frontName>orderprocessing</frontName>
				</args>
			</orderprocessing>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Knm_Orderprocessing>
							<title>Orderprocessing Module</title>
							<sort_order>10</sort_order>
						</Knm_Orderprocessing>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<orderprocessing>
					<file>orderprocessing.xml</file>
				</orderprocessing>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <orderprocessing>
                <class>Knm_Orderprocessing_Model</class>
                <resourceModel>orderprocessing_mysql4</resourceModel>
            </orderprocessing>
            <orderprocessing_mysql4>
                <class>Knm_Orderprocessing_Model_Mysql4</class>
                <entities>
                    <message>
                        <table>knm_message</table>
                    </message>
                    <item>
                        <table>knm_message_item</table>
                    </item>
                </entities>
            </orderprocessing_mysql4>
        </models>
        <resources>
            <knm_orderprocessing_setup>
                <setup>
                    <module>Knm_Orderprocessing</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </knm_orderprocessing_setup>
            <orderprocessing_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </orderprocessing_write>
            <orderprocessing_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </orderprocessing_read>
            <knm_sales_setup>
                <setup>
                    <module>Knm_Orderprocessing</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
            </knm_sales_setup>
        </resources>
        <blocks>
            <orderprocessing>
                <class>Knm_Orderprocessing_Block</class>
            </orderprocessing>
        </blocks>
        <helpers>
            <orderprocessing>
                <class>Knm_Orderprocessing_Helper</class>
            </orderprocessing>
        </helpers>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <knm_orderprocessing>
                                            <title>Store Hello World Module Section</title>
                                        </knm_orderprocessing>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>